html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
address,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
li {
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.box-shadow-constructor {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.box-shadow-inset {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
.nodecor {
  text-decoration: none;
}
.notopborder {
  border-top: none !important;
}
.nobottomborder {
  border-bottom: none !important;
}
input[type="text"],
textarea {
  background: #ffffff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  color: #9c9a9b;
  border: 0;
  padding: 4px 5px;
}
body {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  background-image: url(/assets/img/client/bg.jpg);
  font-family: Tahoma, Arial, Verdana;
  color: #928e8f;
  font-size: 12px;
  min-width: 960px;
}
body a {
  color: #650506;
  text-decoration: none;
  border-bottom: 1px solid;
}
body a:hover {
  border-bottom: none;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.arrow-box {
  position: relative;
  background: #650506;
  border: 1px solid #fff;
}
.arrow-box:after,
.arrow-box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-box:after {
  border-color: rgba(101, 5, 6, 0);
  border-right-color: #650506;
  border-width: 5px;
  margin-top: -5px;
}
.arrow-box:before {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}
nav.topMenu {
  background: url(/assets/img/client/top_menu_bg.png) no-repeat top center #610304;
  width: 100%;
  height: 41px;
}
nav.topMenu .left,
nav.topMenu .right {
  width: 310px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  text-transform: lowercase;
}
nav.topMenu .left a,
nav.topMenu .right a {
  color: #fff;
}
nav.topMenu .left {
  width: 310px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  text-transform: lowercase;
  text-align: right;
}
nav.topMenu .left a {
  color: #fff;
}
nav.topMenu .left span {
  padding-right: 30px;
  background: url(/assets/img/client/phone_small.png) no-repeat center right;
  display: block;
}
nav.topMenu .right {
  width: 310px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  text-transform: lowercase;
}
nav.topMenu .right a {
  color: #fff;
}
nav.topMenu .right ul li.cart {
  float: left;
  padding-left: 35px;
  background: url(/assets/img/client/cart_small.png) no-repeat center left;
  width: 50px;
}
nav.topMenu .right ul li.cart a {
  padding: 2px 8px;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
nav.topMenu .right ul li.cart a:hover {
  border-bottom: 1px solid #fff;
}
nav.topMenu .right ul li.auth {
  float: right;
  text-align: right;
  width: 180px;
}
h1.logo {
  position: absolute;
  left: 50%;
  right: 50%;
  background: url(/assets/img/client/logo.png) no-repeat top left;
  width: 320px;
  height: 260px;
  margin-left: -160px;
  z-index: 1;
}
h1.logo a {
  border-bottom: none;
  display: block;
  text-indent: -3333px;
  width: 320px;
  height: 260px;
  text-align: center;
}
.userPart {
  margin: 20px 0 10px;
}
.userPart:after {
  content: '';
  display: block;
  clear: both;
}
.userPart .block {
  width: 290px;
  height: 40px;
  padding: 10px;
  background-color: #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  text-transform: lowercase;
  line-height: 13px;
}
.userPart .block h3 {
  color: #650506;
  font-weight: 300;
  margin-bottom: 10px;
}
.userPart .block h3 a {
  border-bottom: 0;
}
.userPart .block.phone {
  background-image: url(/assets/img/client/phone.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}
.userPart .block.phone span {
  font-size: 24px;
}
.userPart .block.cart {
  text-align: right;
  background-image: url(/assets/img/client/cart.png);
  background-repeat: no-repeat;
  background-position: 5% center;
}
.userPart .block.cart span {
  padding: 5px 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.preNav {
  width: 100%;
  height: 27px;
  background: url(/assets/img/client/menu_before_bg.png) repeat-x top left;
}
.mainMenu {
  width: 100%;
  height: 65px;
  background: url(/assets/img/client/menu_bg.png) repeat-x top left;
  margin-top: -1px;
}
.mainMenu ul:after {
  content: '';
  display: block;
  clear: both;
}
.mainMenu ul li {
  height: 63px;
  float: left;
  text-align: center;
}
.mainMenu ul li:hover,
.mainMenu ul li.active {
  background: #a01113;
}
.mainMenu ul li.indent {
  margin-right: 315px;
}
.mainMenu ul li a {
  display: block;
  height: inherit;
  color: #fff;
  padding: 0 10px;
  border: none;
  text-transform: uppercase;
  line-height: 65px;
  font-size: 14px;
}
.socialSlider {
  margin: 30px 0;
}
.socialSlider .showcase {
  padding: 10px;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.socialSlider .showcase .showcase-button-wrapper {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 30px;
  margin-left: -20px;
}
.socialSlider .showcase .showcase-button-wrapper span {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
}
.socialSlider .showcase .showcase-button-wrapper span.active {
  color: #000;
}
.socialSlider .showcase .showcase-button-wrapper span:hover {
  color: #ccc;
}
.socialSlider .showcase .showcase-button-wrapper span:last-child {
  margin-right: none;
}
.mainContent {
  font-size: 14px;
  margin: 20px 0;
}
.mainContent h2 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: #4d4957;
}
.mainContent h2.pageHead {
  background: #650506;
  color: #fff;
  padding: 5px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}
.mainContent .block {
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.mainContent .block:first-child {
  border-top: none;
}
.mainContent .block:last-child {
  border-bottom: none;
}
.mainContent .block:after {
  content: '';
  display: block;
  clear: both;
}
.mainContent .block .row {
  float: left;
}
.mainContent .block .row.w50 {
  width: 470px;
}
.mainContent .block .row.w50:first-child {
  margin-right: 20px;
}
.mainContent .block .row.w280x {
  width: 280px;
}
.mainContent .block .row.w650x {
  width: 650px;
  margin-right: 30px;
}
.mainContent .block .row .tipBlock {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 20px;
}
.mainContent .block .row .tipBlock h2 {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
.mainContent .block .row .tipBlock img {
  display: block;
  float: left;
  width: 80px;
  margin-right: 10px;
}
.mainContent .block .row .tipBlock span {
  display: block;
  float: left;
  width: 220px;
  font-size: 12px;
}
.mainContent .block .row .newsBlock {
  margin-bottom: 20px;
  font-size: 13px;
}
.mainContent .block .row .newsBlock h2 {
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}
.mainContent .block .row .newsBlock h2 a {
  color: #232323;
  border-bottom: none !important;
}
.mainContent .block .row a.bigButton {
  display: block;
  width: 100%;
  background: #bdbbbc;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  border-bottom: none !important;
  text-align: center;
}
.mainContent .block .userRecipes h2 {
  text-align: left;
  color: #807c7d;
  font-size: 20px;
}
.mainContent .block .userRecipes a {
  display: block;
  float: left;
  margin-right: 20px;
  width: 190px;
  height: 160px;
  border-bottom: none !important;
  background: #fff;
  padding: 10px 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.mainContent .block .userRecipes a img {
  max-width: 100%;
}
footer {
  background: #650506;
  padding: 30px 0;
  color: #fff;
}
footer section.top {
  margin-bottom: 20px;
}
footer section.top .payServices {
  text-align: center;
}
footer section.top .payServices img {
  margin-left: 5px;
}
footer section.bottom:after {
  content: '';
  display: block;
  clear: both;
}
footer section.bottom section {
  font-weight: bold;
  display: table-cell;
  width: 34%;
  vertical-align: bottom;
}
footer section.bottom section a {
  color: #bf080a;
}
footer section.bottom section a:hover {
  color: #fff;
}
footer section.bottom section .counter {
  text-align: center;
}
footer section.bottom section .dd {
  text-align: right;
}
.constructor {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 30px;
}
.constructor .texture {
  background: url(/assets/img/client/constructor_bg.png) top left;
}
.constructor .categories {
  background: #881719;
}
.constructor .categories:after {
  content: '';
  display: block;
  clear: both;
}
.constructor .categories ul {
  margin: 0 2px;
}
.constructor .categories ul:after {
  content: '';
  display: block;
  clear: both;
}
.constructor .categories ul > li {
  float: left;
  padding-bottom: 1px;
}
.constructor .categories ul > li.selected a {
  border-bottom: 4px solid #fff;
}
.constructor .categories ul > li a {
  display: block;
  border-bottom: 4px solid #881719;
  height: 49px;
  padding: 0 10px;
  line-height: 58px;
  color: #fff;
  text-transform: uppercase;
}
.constructor .categories ul > li a:hover {
  border-bottom: 4px solid #fff;
}
.constructor .categories ul > li .submenu {
  position: relative;
  display: block;
  margin-top: 1px;
  z-index: 1;
}
.constructor .categories ul > li .submenu ul {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.constructor .categories ul > li .submenu ul li {
  width: auto;
  float: none;
}
.constructor .categories ul > li .submenu ul li a {
  width: auto;
  height: auto;
  padding: 5px 10px;
  color: #000;
  line-height: normal;
  text-transform: capitalize;
}
.constructor .categories ul > li .submenu ul li a span {
  display: inline-block;
  min-width: 100px;
  margin-right: 10px;
}
.constructor .categories ul > li .submenu ul li a span:last-child {
  margin-right: 0;
}
.constructor .main {
  padding: 30px 10px;
}
.constructor .main:after {
  content: '';
  display: block;
  clear: both;
}
.constructor .main .presentation {
  float: left;
  background: url(/assets/img/client/plate.png) no-repeat center #ffffff;
  background-size: cover;
  width: 470px;
  height: 470px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-right: 20px;
}
.constructor .main .structure {
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  float: right;
  width: 350px;
  position: relative;
}
.constructor .main .structure .clip {
  background: url(/assets/img/client/clip.png) no-repeat top center;
  width: 350px;
  height: 44px;
  margin-top: -30px;
}
.catalog .category h2 {
  background: #650506;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 6.666666666666667px;
  text-align: left;
}
.catalog .category .item {
  float: left;
  width: 195px;
  padding: 10px;
  margin-right: 33px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  color: #000;
}
.catalog .category .item:last-child {
  margin-right: 0;
}
.catalog .category .item img.preview {
  text-align: center;
  width: 195px;
  height: 170px;
  margin-bottom: 10px;
}
.catalog .category .item .title {
  font-weight: bold;
  font-size: 14px;
  height: 32px;
  overflow: hidden;
  margin-bottom: 5px;
}
.catalog .category .item .description {
  font-size: 12px;
  height: 60px;
  overflow: hidden;
  padding-bottom: 10px;
}
.catalog .category .item .data {
  margin: 5px 0;
}
.catalog .category .item .data .weight,
.catalog .category .item .data .price {
  float: left;
  line-height: 30px;
}
.catalog .category .item .data .addtocart {
  float: right;
}
.catalog .category .item .data a.addtocart {
  border-bottom: none;
}
.catalog .category .item .data a.addtocart img {
  width: 30px;
  height: auto;
}
.catalog .category .item .data:after {
  content: '';
  display: block;
  clear: both;
}
.catalog .category .item .data .weight {
  font-size: 12px;
  margin-right: 15px;
}
.catalog .category .item .data .price {
  font-size: 18px;
}
.catalog .category:after {
  content: '';
  display: block;
  clear: both;
}
.blockReg h2 {
  background: #650506;
  color: #fff;
  padding: 5px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}
.blockReg .topBlog {
  background: #fafafa;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.blockReg label {
  display: block;
  color: #650506;
  font-size: 13px;
  margin-bottom: 5px;
}
.blockReg input,
.blockReg textarea {
  margin-bottom: 5px;
}
.blockReg .send input[type="submit"] {
  background: #650506;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 14px;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.blockReg .captcha img {
  display: block;
  margin-bottom: 5px;
}
.blockReg .reviews {
  margin-top: 20px;
}
.blockReg .reviews .review {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 15px;
}
.blockReg .reviews .review p.info {
  margin-bottom: 5px;
}
.blockReg .reviews .review .authUser {
  color: #191919;
}
.blockReg .reviews .review .dateOfPost {
  font-size: 12px;
}
.newsArchive {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 10px;
}
.newsArchive h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}
.newsArchive .readmore {
  margin-bottom: 10px;
  text-align: right;
}
.newsArchive .readmore a {
  background: #650506;
  font-size: 14px;
  color: #fff;
  padding: 3.3333333333333335px 10px;
  border-bottom: none !important;
}
.contentSeparator {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 30px;
}
.paginationSeparator {
  border-top: 1px solid #fefefe;
  padding-top: 15px;
}
.paginationSeparator.left {
  float: left;
}
.paginationSeparator.right {
  float: right;
}
.pagination a {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 0;
  font-size: 18px;
  color: #ababab;
}
.pagination a:hover {
  color: #252525;
}
.pagination a.disabled {
  cursor: not-allowed;
}
.pagination a.disabled:hover {
  color: #ababab;
}
.pagination nav {
  display: inline-block;
  margin: 0 5px;
}
.pagination nav a {
  font-size: 16px;
  background: #650506;
  border: 2px solid #f8f6f7;
  color: #fff;
  margin: 0 5px;
}
.pagination nav a:hover,
.pagination nav a.current {
  background: #f8f6f7;
  color: #650506;
  border: 2px solid #650506;
}
